extends layout

block content
    table(id="articlesTable" class="tablesorter")
        thead
            tr
                th(id="") Unpublished articles ( #{articleTotal} )
                th(id="") Author
                th(class="") Words
                th(id="header-timeago" class="") Submitted
                th(id="header-rawtime" class="rawtime")
        tbody
    div(id="btnLoadMore" class="start") LOAD MORE

