extends layout

block content
    table(id="articlesTable")
        thead
            tr
                th Unpublished articles ( #{articleTotal} )
                th Author
                th(id="header-words" class="start") Words
                th(id="header-date" class="date start") Submitted
        tbody
    div(id="btnLoadMore") load more

