extends layout

block content
    table(id="articlesTable" class="tablesorter")
        thead
            tr
                th(id="") Unpublished articles ( #{articleTotal} )
                th(id="") Author
                th(id="header-words") Words
                th(id="header-time" class="date") Submitted
        tbody
    div(id="btnLoadMore" class="start") LOAD MORE

