extends layout

block content
    table(id="articlesTable")
        thead
            tr
                th(id="") Count
                th(id="") Unpublished articles ( )
                th(id="") Author
                th(id="") Words
                th(id="") Submitted
        tbody
    div(id="btnLoadMore" class="start") LOAD MORE...

