extends layout

block content
    table(id="articlesTable" class="tablesorter")
        thead
            tr
                th(id="") Unpublished articles ( #{articleTotal} )
                th(id="") Author
                th(id="header-words" class="start") Words
                th(id="header-date" class="date start") Submitted
        tbody
    div(id="btnLoadMore" class="start") LOAD MORE

