doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.min.css')
    title News Feed
  body(class="loading")
    div(id="loader")
      div(id="loadimageContainer")
        img(src="/assets/img/tampon-container.svg" alt="Loading...")

    .page-container
      block content

    .footer
      p by Mary Chan

    script(src="/scripts/jquery.min.js")
    script(src="/scripts/jquery.tablesorter.min.js")
    script(src="/scripts/main.min.js")




