doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    title News Feed
  body
    
    .page-container
      block content

    .footer
      p by Mary Chan

  script(src="/scripts/jquery.min.js")
  script(src="/scripts/jquery.tablesorter.min.js")
  script(src="/scripts/main.js")  




